.container {
    display: flex;   
    padding: 10px 0 0 20px;
    justify-content: space-between;
}

.validity-range-settings-container {
    padding: 0px 0px 0px 20px;
}

.datepickers-container {
    display: flex;
}

.range-form-container {
    display: flex;
}

.datepicker {
    margin-right: 20px;
    max-width: 300px;
}