.base-container {
    display: flex;
}
.left-gui-elements {
    width: 29%;
    margin-top: 10px;
    margin-left: 5px;
}

.graph-container {
    padding: 10px;
}

.card-container {
    margin-top: 10px;
}

.progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

ul.react-datepicker__time-list {
    padding: 0;
}