.base-container {
    display: flex;
}
.left-gui-elements {
    width: 26%;

}
.datepicker-container {
    margin-top: 10px;
}

.graph-container {
    padding: 10px;
    width: 74%;
}

.card-container {
    margin-top: 10px;
    margin-left: 5px;
}