.left-gui-elements {
    position: absolute;
    float:left;
}

.graph-div {
    position: relative;
    margin-top: 20px;
    margin-left: 405px;
}

.datepicker-container {
    
}

.card-container {
    margin-top: 20px;
}